@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
    background-color: rgb(45, 45, 45);
    font-family: 'Roboto', sans-serif;
}
table {
    border: 1px solid rgb(90, 90, 90);
    border-radius: 5px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.table-1 {
    margin-top: 150px;
}
.table-2 {
    margin-top: 40px;
}
.table-3 {
    margin-top: 40px;
}
.table-heading {
    text-align: left;
}
th, td {
    padding: 15px 15px 15px 15px;
    color: white;
    font-size: 13px;
    border-bottom: 1px solid rgb(90, 90, 90);
    width: 400px;
}
.column {
    color: rgb(140, 140, 140);
}
tr:last-child td {
    border-bottom: none;
}
input {
    margin: 0px 15px 0px 0px;
    padding: 0px;
}
.arrow {
    margin: 0px 0px 0px 15px;
}
.dots1 {
    margin: 0px 0px 3px 300px;
    width: 18px;
}
.dots2 {
    margin: 0px 0px 3px 307px;
    width: 18px;
}
.dots3 {
    margin: 0px 0px 3px 279px;
    width: 18px;
}
.package {
    width: 15px;
    margin: 0px 10px 0px 0px;
}