@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
    background-color: rgb(45, 45, 45);
    font-family: 'Roboto', sans-serif;
}
h2 {
    text-align: center;
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
    color: rgb(140, 140, 140);
    margin-top: 100px;
}
table {
    border: 1px solid rgb(90, 90, 90);
    border-radius: 5px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.table-1 {
    margin-top: 40px;
    border-spacing: 0;
}
.table-2 {
    margin-top: 40px;
    border-spacing: 0;
}
.table-3 {
    margin-top: 40px;
    border-spacing: 0;
}
.table-heading {
    text-align: left;
}
th, td {
    padding: 15px 15px 15px 15px;
    color: white;
    font-size: 13px;
    border-bottom: 1px solid rgb(90, 90, 90);
    width: 400px;
}
.column {
    color: rgb(140, 140, 140);
}
tr:last-child td {
    border-bottom: none;
}
input {
    margin: 0px 15px 0px 0px;
    padding: 0px;
}
.button {
    margin: 0px 0px 0px 15px;
    width: 12px;
    outline: none;
    border: none;
}
a:link {
    text-decoration: none;
    color: white;
}
a:visited {
    color: white;
}
a:hover {
    color: rgb(23, 161, 250);
}
a:active {
    color: rgb(23, 161, 250);
}
.dots1 {
    margin: 0px 0px 3px 300px;
    width: 18px;
    outline: none;
    border: none;
}
.dots2 {
    margin: 0px 0px 3px 307px;
    width: 18px;
    outline: none;
    border: none;
}
.dots3 {
    margin: 0px 0px 3px 279px;
    width: 18px;
    outline: none;
    border: none;
}
.package {
    width: 15px;
    margin: 0px 10px 0px 0px;
}
form {
    position: absolute;
    margin-left: 191px;
    margin-top: -26px;
    width: 175px;
}
.search {
    width: 100%;
    height: 37px;
    background: rgb(68, 68, 68);
    padding-left: 35px;
    font-family: 'Roboto', sans-serif;
    color:rgb(140, 140, 140);
    border: none;
    outline: none;
    border-radius: 5px;
}
.search-button {
    height: 15px;
    position: absolute;
    top: 11px;
    left: 9px;
    outline: none;
    border: none;
}
.search::placeholder {
    color: rgb(140, 140, 140);
}